In [1]:
import pandas as pd

In [2]:
filePath = "thomascup_2022_tweets.xlsx"

In [3]:
sheets = pd.ExcelFile(filePath).sheet_names

In [4]:
df = pd.concat([pd.read_excel(filePath, sheet_name=i) for i in sheets], ignore_index=True)

In [5]:
df.shape

(10634, 15)

In [6]:
df.columns

Index(['id', 'text', 'username', 'hashtags', 'created_at',
       'user followers count', 'replycount', 'retweetcount', 'likecount',
       'quotecount', 'language', 'quotedtweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers'],
      dtype='object')

In [7]:
df.head()

,id,text,username,hashtags,created_at,user followers count,replycount,retweetcount,likecount,quotecount,language,quotedtweet,inReplyToTweetId,inReplyToUser,mentionedUsers
0,1.529235e+18,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24 22:58:24+00:00,43.0,0.0,0.0,3.0,0.0,en,NaN,NaN,NaN,"India has won the Thomas cup, @nikhat_zareen ..."
1,1.528225e+18,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22 04:03:15+00:00,51.0,0.0,0.0,1.0,0.0,en,NaN,NaN,NaN,PMâ€™s interaction with Thomas Cup Champions i...
2,1.527217e+18,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19 09:17:53+00:00,4.0,0.0,1.0,1.0,0.0,en,NaN,NaN,NaN,India won maiden Thomas Cup after defeating 14...
3,1.526912e+18,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 13:07:01+00:00,1553.0,0.0,1.0,1.0,0.0,en,NaN,NaN,NaN,#India's bunch of exceptionally proficient #Ba...
4,1.526893e+18,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 11:51:44+00:00,1192.0,0.0,0.0,0.0,0.0,en,NaN,NaN,NaN,#India's bunch of exceptionally proficient #Ba...

In [8]:
df_copy = df[['text', 'username', 'hashtags', 'created_at']] # filtering important columns out of the entire dataset

In [9]:
df_copy

,text,username,hashtags,created_at
0,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24 22:58:24+00:00
1,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22 04:03:15+00:00
2,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19 09:17:53+00:00
3,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 13:07:01+00:00
4,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 11:51:44+00:00
...,...,...,...,...
10629,Info sweeping orang india astagfirullah ðŸ˜­\n...,Anestya17,"['ThomasCup', 'ThomasCup2022']",2022-05-15 08:16:56+00:00
10630,What a comeback ðŸ˜ðŸ˜Ž #ThomasCup,sulabhchokhani,['ThomasCup'],2022-05-15 08:16:55+00:00
10631,Wow! Saving 4 match points! And won 1-1 in dou...,ravi_1956,['ThomasCup'],2022-05-15 08:16:51+00:00
10632,#LakshyaSen â¤ï¸ðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \...,YatiDivyaman,"['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",2022-05-15 08:16:49+00:00
10633,Astaga.. padahal udah match point tapi jadi ru...,Man_Cimut2,"['ThomasCup', 'ThomasUberCup2022']",2022-05-15 08:16:47+00:00

In [10]:
df_copy[df_copy.isna() == True] # To check whether the dataframe contains NaN(not a number) values or not

      text username hashtags created_at
0      NaN      NaN      NaN        NaN
1      NaN      NaN      NaN        NaN
2      NaN      NaN      NaN        NaN
3      NaN      NaN      NaN        NaN
4      NaN      NaN      NaN        NaN
...    ...      ...      ...        ...
10629  NaN      NaN      NaN        NaN
10630  NaN      NaN      NaN        NaN
10631  NaN      NaN      NaN        NaN
10632  NaN      NaN      NaN        NaN
10633  NaN      NaN      NaN        NaN

[10634 rows x 4 columns]

In [11]:
df_copy

,text,username,hashtags,created_at
0,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24 22:58:24+00:00
1,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22 04:03:15+00:00
2,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19 09:17:53+00:00
3,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 13:07:01+00:00
4,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 11:51:44+00:00
...,...,...,...,...
10629,Info sweeping orang india astagfirullah ðŸ˜­\n...,Anestya17,"['ThomasCup', 'ThomasCup2022']",2022-05-15 08:16:56+00:00
10630,What a comeback ðŸ˜ðŸ˜Ž #ThomasCup,sulabhchokhani,['ThomasCup'],2022-05-15 08:16:55+00:00
10631,Wow! Saving 4 match points! And won 1-1 in dou...,ravi_1956,['ThomasCup'],2022-05-15 08:16:51+00:00
10632,#LakshyaSen â¤ï¸ðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \...,YatiDivyaman,"['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",2022-05-15 08:16:49+00:00
10633,Astaga.. padahal udah match point tapi jadi ru...,Man_Cimut2,"['ThomasCup', 'ThomasUberCup2022']",2022-05-15 08:16:47+00:00

In [12]:
df_copy[~df_copy.isna()] # the ~ means negation. Which means not equals. So in this it checks if it is not NaN.

,text,username,hashtags,created_at
0,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24 22:58:24+00:00
1,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22 04:03:15+00:00
2,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19 09:17:53+00:00
3,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 13:07:01+00:00
4,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 11:51:44+00:00
...,...,...,...,...
10629,Info sweeping orang india astagfirullah ðŸ˜­\n...,Anestya17,"['ThomasCup', 'ThomasCup2022']",2022-05-15 08:16:56+00:00
10630,What a comeback ðŸ˜ðŸ˜Ž #ThomasCup,sulabhchokhani,['ThomasCup'],2022-05-15 08:16:55+00:00
10631,Wow! Saving 4 match points! And won 1-1 in dou...,ravi_1956,['ThomasCup'],2022-05-15 08:16:51+00:00
10632,#LakshyaSen â¤ï¸ðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \...,YatiDivyaman,"['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",2022-05-15 08:16:49+00:00
10633,Astaga.. padahal udah match point tapi jadi ru...,Man_Cimut2,"['ThomasCup', 'ThomasUberCup2022']",2022-05-15 08:16:47+00:00

In [13]:
df_copy["date"] = df_copy.apply(lambda x : str(x["created_at"]).split(" ")[0], axis=1) # axis 0 is columns, axis 1 is rows

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_9853/3913068247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["date"] = df_copy.apply(lambda x : str(x["created_at"]).split(" ")[0], axis=1) # axis 0 is columns, axis 1 is rows

In [14]:
df_copy

,text,username,hashtags,created_at,date
0,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24 22:58:24+00:00,2022-05-24
1,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22 04:03:15+00:00,2022-05-22
2,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19 09:17:53+00:00,2022-05-19
3,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 13:07:01+00:00,2022-05-18
4,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 11:51:44+00:00,2022-05-18
...,...,...,...,...,...
10629,Info sweeping orang india astagfirullah ðŸ˜­\n...,Anestya17,"['ThomasCup', 'ThomasCup2022']",2022-05-15 08:16:56+00:00,2022-05-15
10630,What a comeback ðŸ˜ðŸ˜Ž #ThomasCup,sulabhchokhani,['ThomasCup'],2022-05-15 08:16:55+00:00,2022-05-15
10631,Wow! Saving 4 match points! And won 1-1 in dou...,ravi_1956,['ThomasCup'],2022-05-15 08:16:51+00:00,2022-05-15
10632,#LakshyaSen â¤ï¸ðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \...,YatiDivyaman,"['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",2022-05-15 08:16:49+00:00,2022-05-15
10633,Astaga.. padahal udah match point tapi jadi ru...,Man_Cimut2,"['ThomasCup', 'ThomasUberCup2022']",2022-05-15 08:16:47+00:00,2022-05-15

In [15]:
df_copy["time"] = df_copy.apply(lambda x : str(x["created_at"]).split(" ")[-1], axis = 1)

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_9853/877975244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["time"] = df_copy.apply(lambda x : str(x["created_at"]).split(" ")[-1], axis = 1)

In [16]:
df_copy

,text,username,hashtags,created_at,date,time
0,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24 22:58:24+00:00,2022-05-24,22:58:24+00:00
1,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22 04:03:15+00:00,2022-05-22,04:03:15+00:00
2,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19 09:17:53+00:00,2022-05-19,09:17:53+00:00
3,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 13:07:01+00:00,2022-05-18,13:07:01+00:00
4,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18 11:51:44+00:00,2022-05-18,11:51:44+00:00
...,...,...,...,...,...,...
10629,Info sweeping orang india astagfirullah ðŸ˜­\n...,Anestya17,"['ThomasCup', 'ThomasCup2022']",2022-05-15 08:16:56+00:00,2022-05-15,08:16:56+00:00
10630,What a comeback ðŸ˜ðŸ˜Ž #ThomasCup,sulabhchokhani,['ThomasCup'],2022-05-15 08:16:55+00:00,2022-05-15,08:16:55+00:00
10631,Wow! Saving 4 match points! And won 1-1 in dou...,ravi_1956,['ThomasCup'],2022-05-15 08:16:51+00:00,2022-05-15,08:16:51+00:00
10632,#LakshyaSen â¤ï¸ðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \...,YatiDivyaman,"['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",2022-05-15 08:16:49+00:00,2022-05-15,08:16:49+00:00
10633,Astaga.. padahal udah match point tapi jadi ru...,Man_Cimut2,"['ThomasCup', 'ThomasUberCup2022']",2022-05-15 08:16:47+00:00,2022-05-15,08:16:47+00:00

In [17]:
df_copy = df_copy[["text", "username", "hashtags", "date", "time"]]

In [18]:
# print(df_copy["hashtags"].unique())
df_copy["hashtags"].dtype
df_copy.head(1)["hashtags"][0] # Trying to view the singular data also known as atom of the data

"['India', 'IndianEra']"

In [19]:
type(eval("['India', 'IndianEra']")) #identifies what type of data type is in a string. Eval is a function which excepts the string value and returns the value with the original data type that the string contains.

list

In [20]:
len(df_copy["username"].unique())

6800

In [21]:
df_copy.groupby(by = "username").mean()

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_9853/3656527505.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_copy.groupby(by = "username").mean()

Empty DataFrame
Columns: []
Index: [02infi, 05_rahul_pal, 07iyooo, 0xartic_2010, 10032000AJ, 1025Saurabh, 11abhinaik, 13_handis, 13_suroor, 159sudhanshu, 1729RK, 17abhi_17, 17asuah, 18prajakta, 1990_shah, 1996Amey, 1997_raghav, 1DrMahalakshmi, 1_aeram, 1mPankaj, 2000yjy, 21harminder, 21sparksacademy, 2245wa, 22scopenews, 23nutty, 241sandeep, 25rubybaruah, 2Rajababu, 2bor_n0t_2b, 2lyfa, 30_snxxx, 320vala, 37solanki, 3Ly24, 3nrichoofficial, 42nikhil, 4545Deep, 4_Simplicity_, 4d_h1m, 5ytix, 7809Sourabh, 7ANURAGSHARMA, 7skieschs, 7vaibhavSachdev, 81261Rawat, 82_dwinta, 880kumar, 900nada_94, 90ndstoppage, 92Siddhant, 94Ankitparihar, 9595Carrot_, 96vtiwari, 987Suzy, AGuptal, AJacksonDass, AJumbled, AK4748, AKASH_SVAR, AKS_Addict, AKTKadmin, AKTiw_NEWBORN, AKhurana1812, AKusumaputra16, AMAR12BK, AMBER_DUTA, AMITJam54692117, AMP86793444, AM_Sanchita2722, APSingh9004, ARMYPurpleONCE, ARUNPRA69447781, ASHISH_9756, ASIFCR75, AShameyl, ATMAN55671641, ATULKum85305051, ATdsingh, AUTO_WORLD9, AVenthan, AYUSH9133, A_K_Mishra_1981, Aaaaaaftab, Aadarsh7050, AadeeshD, Aadeetya007, AadiVarah, Aadii_tyaa, Aadil_Ikram, Aadrikap12, Aahuyadav2002, Aamirgaur011, Aarimiru, Aashu2shh, AashutoshDix15, Aasthabhagat9, AatmaNirbhar12, AatmanirbharBro, Aayan_mohammed3, ...]

[6799 rows x 0 columns]

In [24]:
df_copy[df_copy["hashtags"].isna()]

,text,username,hashtags,date,time
3622,India has beaten 14 champion Indonesia to win ...,Sunil13610392,NaN,2022-05-15,09:59:00+00:00
5267,NaN,NaN,NaN,nan,nan
5268,NaN,NaN,NaN,nan,nan
5269,NaN,NaN,NaN,nan,nan
5270,NaN,NaN,NaN,nan,nan
...,...,...,...,...,...
9699,bismillah bulan mei bulan baik untuk indonesia...,bellydupling,NaN,2022-05-06,00:16:45+00:00
9700,@BAI_Media @bwfmedia @Media_SAI @IndiaSports @...,atul_tn,NaN,2022-04-01,11:06:07+00:00
9701,"@badminton__fess Asian games, Sea games, turma...",Nda1426,NaN,2022-03-19,02:33:33+00:00
9702,Blf! Guys ada yg punya foto di zi jian/wang ch...,badminton__fess,NaN,2022-01-23,10:08:57+00:00
9703,@ins3curee Gue mikirnya gara2 badminton udah g...,m34nisminee,NaN,2022-01-02,07:22:39+00:00

In [25]:
df_copy.dropna(inplace = True)

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_9853/1009509238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.dropna(inplace = True)

In [26]:
df_copy[df_copy["hashtags"].isna()]

Empty DataFrame
Columns: [text, username, hashtags, date, time]
Index: []

In [37]:
def pattern_match(s):
    import re
    for i in eval(s):
        match = re.match("ThomasCup".lower(), i.lower())
#     match = re.match("ThomasCup".lower(), s)
    if match == None or match == []:
        return None
    else:
        return match.group()


df_copy["ThomasCupIsIn"] = df_copy.apply(lambda x : pattern_match(str(x["hashtags"])), axis = 1)

#Hw : Create a new column and use apply or lambda function, take the result and store it in the column

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_9853/1815493720.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["ThomasCupIsIn"] = df_copy.apply(lambda x : pattern_match(str(x["hashtags"])), axis = 1)

In [38]:
df_copy

,text,username,hashtags,date,time,ThomasCupIsIn
0,"India has won the Thomas cup, @nikhat_zareen ...",themohanty_,"['India', 'IndianEra']",2022-05-24,22:58:24+00:00,None
1,PMâ€™s interaction with Thomas Cup Champions i...,goikarpk,"['India', 'ThomasCup']",2022-05-22,04:03:15+00:00,thomascup
2,India won maiden Thomas Cup after defeating 14...,BeShararat,"['ThomasCup', 'India', 'ThomasUberCup2022']",2022-05-19,09:17:53+00:00,None
3,#India's bunch of exceptionally proficient #Ba...,aaiprayagraj,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18,13:07:01+00:00,thomascup
4,#India's bunch of exceptionally proficient #Ba...,aaisapairport,"['India', 'Badminton', 'ThomasCup2022', 'Bangk...",2022-05-18,11:51:44+00:00,thomascup
...,...,...,...,...,...,...
10629,Info sweeping orang india astagfirullah ðŸ˜­\n...,Anestya17,"['ThomasCup', 'ThomasCup2022']",2022-05-15,08:16:56+00:00,thomascup
10630,What a comeback ðŸ˜ðŸ˜Ž #ThomasCup,sulabhchokhani,['ThomasCup'],2022-05-15,08:16:55+00:00,thomascup
10631,Wow! Saving 4 match points! And won 1-1 in dou...,ravi_1956,['ThomasCup'],2022-05-15,08:16:51+00:00,thomascup
10632,#LakshyaSen â¤ï¸ðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \...,YatiDivyaman,"['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",2022-05-15,08:16:49+00:00,thomascup
10633,Astaga.. padahal udah match point tapi jadi ru...,Man_Cimut2,"['ThomasCup', 'ThomasUberCup2022']",2022-05-15,08:16:47+00:00,None

In [40]:
cups = df_copy[df_copy["ThomasCupIsIn"] == "thomascup"]

In [41]:
cups.to_numpy()

array([['PMâ€™s interaction with Thomas Cup Champions is amazing. Simple yet inspirational &amp; satisfying. Congratulations #India !!  Every players story is beautiful and PMâ€™s personalised interaction is stunning #ThomasCup @BadmintonIndia @PMOIndia @narendramodi',
        'goikarpk', "['India', 'ThomasCup']", '2022-05-22',
        '04:03:15+00:00', 'thomascup'],
       ["#India's bunch of exceptionally proficient #Badminton players lifted the #ThomasCup2022 at #Bangkok on Sun,May15,22, defeating\n14- times champion #Indonesia against everyone's expectations. It was a defining moment for #IndianBadminton, as this was our very first #ThomasCup win.",
        'aaiprayagraj',
        "['India', 'Badminton', 'ThomasCup2022', 'Bangkok', 'Indonesia', 'IndianBadminton', 'ThomasCup']",
        '2022-05-18', '13:07:01+00:00', 'thomascup'],
       ["#India's bunch of exceptionally proficient #Badminton players lifted the #ThomasCup2022 at #Bangkok on Sun,May15,22, defeating\n14- times champion #Indonesia against everyone's expectations. It was a defining moment for #IndianBadminton, as this was our very first #ThomasCup win.",
        'aaisapairport',
        "['India', 'Badminton', 'ThomasCup2022', 'Bangkok', 'Indonesia', 'IndianBadminton', 'ThomasCup']",
        '2022-05-18', '11:51:44+00:00', 'thomascup'],
       ...,
       ['What a comeback ðŸ˜\x8dðŸ˜Ž #ThomasCup', 'sulabhchokhani',
        "['ThomasCup']", '2022-05-15', '08:16:55+00:00', 'thomascup'],
       ['Wow! Saving 4 match points! And won 1-1 in doubles! Go for the kill India! #ThomasCup',
        'ravi_1956', "['ThomasCup']", '2022-05-15', '08:16:51+00:00',
        'thomascup'],
       ['#LakshyaSen â\x9d¤ï¸\x8fðŸ‡®ðŸ‡³\n\n#ThomasCup2022 \n#ThomasCup',
        'YatiDivyaman', "['LakshyaSen', 'ThomasCup2022', 'ThomasCup']",
        '2022-05-15', '08:16:49+00:00', 'thomascup']], dtype=object)

In [ ]:
# hw: